<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben Mantle</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <!--base href="file:///home/sphaso/Git/BenWebsite/www/"-->
  </head>
  <body ng-app="benmantle">
    <div class="container-fluid" ng-controller="MainController">
        <div class="row">
            <div class="text-center">
                <h1><span class="borderize">Ben Mantle</span><span class="customTitle">Super customized title<span></h1>
                <a href="http://www.math.harvard.edu/~eriehl/266x/basic.pdf"><span class="fa fa-file-pdf-o"></a>
                <a href="https://github.com/6dan"><span class="fa fa-github"></span></a>
                <a href="https://twitter.com/bktutoring"><span class="fa fa-twitter"></span></a>
                <a href="https://www.facebook.com/benkyotutoring"><span class="fa fa-facebook"></span></a>
            </div>
        </div>
        <div>
            <div class="text-center">
            <dl>
                <div class="row" ng-show="all() || !showing[1]" ng-class="{grey: showing[1]}">
                    <dt class="col-xs-2"><a ng-click="show(1)">Profile</a></dt>
                    <div class="col-xs-8" >
                        <dd class="preview">
                            <div ng-class="{'col-xs-6' : !showing[1]}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="col-xs-6" ng-show="!showing[1]"><img src="img/me.jpg" class="img-responsive"/></div>
                        </dd>
                        <dd ng-if="!showing[1]">
                            <ng-include src="'profile/profile.html'"></ng-include>
                        </dd>
                    </div>
                </div>
                 <div class="row spacing" ng-show="all() || !showing[0]">
                    <dt class="col-xs-2"><a ng-click="show(0)">Resume</a><br><a href="http://www.math.harvard.edu/~eriehl/266x/basic.pdf"><span class="fa fa-file-pdf-o"></a></dt>
                    <div class="col-xs-8">
                      <dd ng-if="showing[0]" class="preview">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </dd>
                      <dd ng-if="!showing[0]">
                        <ng-include src="'resume/resume.html'" ></ng-include>
                      </dd>
                    </div>
                </div>
                <div class="row spacing" ng-show="all() || !showing[2]" ng-class="{grey: showing[2]}">
                    <dt class="col-xs-2"><a ng-click="show(2)">Projects</a><br><a href="https://github.com/6dan"><span class="fa fa-github"></span></a></dt>
                    <div class="col-xs-8">
                        <dd ng-if="showing[2]" class="preview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </dd>
                        <dd ng-if="!showing[2]">
                            <ng-include src="'projects/projects.html'" ></ng-include>
                        </dd>
                    </div>
                </div>
                <div class="row spacing" ng-show="all() || !showing[3]">
                    <dt class="col-xs-2"><a ng-click="show(3)">Links</a></dt>
                    <div class="col-xs-8">
                        <dd ng-if="showing[3]" class="preview">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </dd>
                        <dd ng-if="!showing[3]">
                            <ng-include src="'links/links.html'" ></ng-include>
                        </dd>
                    </div>
                </div>
                <div class="row spacing" ng-show="all() || !showing[4]" ng-class="{grey: showing[4]}">
                    <dt class="col-xs-2"><a ng-click="show(4)">Writing</a></dt>
                    <div class="col-xs-8">
                        <dd ng-if="showing[4]" class="preview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </dd>
                        <dd ng-if="!showing[4]">
                            <ng-include src="'writing/writing.html'" ></ng-include>
                        </dd>
                    </div>
                </div>
                </dl>
            </div>
        </div>
    </div>
    <script src="libs/angular/angular.1.4.7.min.js"></script>
    <script src="writing/writing.modules.js"></script>
    <script src="writing/writing.controllers.js"></script>
    <script src="app.js"></script>
  </body>
</html>
