
h2 {
    position: relative;
}

h3 {
    margin: 5px 0 5px 0;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    height: 50px;
}

.grey {
    margin: 0;
    padding: 15px 0 15px 0;
    background-color: #FAFAFA;
}

.fa {
    padding-left: 3px;
    padding-right: 3px;
}

.borderize {
    border-right: 1px solid #999;
    padding-right: 10px;
}

.customTitle {
    font-size: 18px;
    padding-left: 10px;
}

/* TODO: Media query */
.spacing {
    margin-top: 25px;
    margin-bottom: 25px;
}

.preview {
    height: 100px;
}
